## loops

- iterate a piece of code until the condition satisfy
- we can run a code normally
- we can run a code by using function wrapper(functions)
- we can run a code multiple times(loops)
- we can run a code by using condition(conditions)

In [1]:
a=10
b=20
c=a+b
print(c)

30

- for loop
- while loop
- any loop
    - initial point to start the loop
    - increment or decrement
    - condition to stop the loop

### for loop
- pattern1

**range(stop)**

In [ ]:
#synatx
for i in range(<value>):
    #start write your code

- when ever you see the word range it belongs to math family
- inside range we need to provide one value ex:range(3)
- if you provide only one value
    - start value-0
    - increment +1
    - last=stop-1
- range(3)
    - start value=0
    - increment = +1
    - last=3-1=2
    - answers are : 0,1,2
- **note**:in python the index always start with zero

In [4]:
for i in range(3):
    print(i)

0
1
2

In [6]:
# print hello 5 times
for i in range(5):
    print("hlo")

hlo
hlo
hlo
hlo
hlo

In [7]:
# for example
#take a random number between 1 to 100
# peint even or odd
# you need to generate three random numbers
import random
for i in range(3):
    n=random.randint(1,100)
    if n%2==0:
        print("even no : ",n)
    else:
        print("odd no : ",n)

odd no :  61
odd no :  9
even no :  86

In [10]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

### pattern2
**range(start,stop)**
- range(10,20)
    - start value =10
    - increment =1
    - last=stop-1=20-1 =19

In [11]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [13]:
# wap ask the user print the square of the no's between 20 to 25
for i in range(20,26):
    print("square of this number: ",i,end=' ')
    print(i*i)

square of this number:  20 400
square of this number:  21 441
square of this number:  22 484
square of this number:  23 529
square of this number:  24 576
square of this number:  25 625

In [14]:
# wap ask the user to print the number is even or odd between 10 to 20
for i in range(10,21):
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even

### pattern 3
**range(start,stop,step)**
- start value=start value
- step value
    - positive step value
       - if step value is positive then increment
       - last=stop-1
     - negative stop value
       - if step value is negative : decrement
       - last=stop+1

In [15]:
# case-1:
for i in range(2,20,2):
    print(i)
#start=2
#step= +ve 2 
# last=stop -1 =19 ans=2,4,6,8,10,12,14,16,18

2
4
6
8
10
12
14
16
18

In [16]:
#case -2:
for i in range(2,20,-2):
    print(i)

In [17]:
#case-3:
for i in range(20,2,-2):
    print(i)

20
18
16
14
12
10
8
6
4

In [18]:
#case-4:
for i in range(-20,2,-2):
    print(i)

In [1]:
# wap ask the user enter a no 3 times find the square of the no
for i in range(0,3,1):
    n=eval(input("enter number: "))
    print("the square of given number is : ",n*n)

enter number:  3

the square of given number is :  9

enter number:  4

the square of given number is :  16

enter number:  5

the square of given number is :  25

In [7]:
#print the 14 table 
#14*1=14
n=eval(input("enter a number: "))
for i in range(1,11,1):
    print(f"{n} x {i } ={n*i}")

enter a number:  15

15 x 1 =15
15 x 2 =30
15 x 3 =45
15 x 4 =60
15 x 5 =75
15 x 6 =90
15 x 7 =105
15 x 8 =120
15 x 9 =135
15 x 10 =150

In [11]:
#find the factors  of a number
#step-1:iterate the loop= which numbers factor you want
# step-2:apply the if condition
#step-3: cond= divide the number with each i
n=eval(input("enter number: "))
print("the factors of ",n)
for i in range(1,n+1,1):
    if n%i==0:
        print(i,end=' ')

enter number:  15

the factors of  15
1 3 5 15

In [13]:
#write the sum of first ten natural num's
n=eval(input("enter a number: "))
s=(n*(n+1))/2
print(s)

enter a number:  10

55.0

**summation wrapper**
- intially we need to keep summ=0
- make sure that do not provide **sum**
- because sum is a keyword
- inside for loop : sum=sum+1

In [16]:
n=eval(input("enter number : "))
s=0
for i in range(1,n+1):
    print(f"{s}+{i}={s+i}")
    s=s+i
print("the sum of all given number is : ",s)

enter number :  10

0+1=1
1+2=3
3+3=6
6+4=10
10+5=15
15+6=21
21+7=28
28+8=36
36+9=45
45+10=55
the sum of all given number is :  55

In [17]:
n=eval(input("enter number : "))
s=0
for i in range(1,n+1):
    val=s
    s=s+i
    print(f"{val}+{i}={s}")
print("the sum of all given number is : ",s)

enter number :  10

0+1=1
1+2=3
3+3=6
6+4=10
10+5=15
15+6=21
21+7=28
28+8=36
36+9=45
45+10=55
the sum of all given number is :  55

**note**
- if we print answer from out of for lopp,last answer will print

**counter program**

In [19]:
#average of first ten numbers
n=eval(input("enter number : "))
s=0
for i in range(1,n+1,1):
    s=s+i
avg=s/n
print("the average is : ",avg)

enter number :  10

the average is :  5.5

**counter wrapper**
- before the loop initilaise the count=0
- under for loop count=count+1
- counter always increase by 1 only

In [20]:
# find the number of divisors
n=eval(input("enter number : "))
s=0
for i in range(1,n+1,1):
    if n%i==0:
        s=s+1
print(f"the total factors of given {n} is {s}")

enter number :  75

the total factors of given 75 is 6

In [29]:
#enter the user get a random number between 1 to 10 :num1
#ask the user enter a number : num2
#if num1 ==num2 then print won
#else print fail
import random
for i in range(3):
    ra=random.randint(1,20)
    n=eval(input("enter a number : "))
    if ra==n:
        print("won")
        break
    else:
        print("lose")

enter a number :  12

won

In [ ]:
#suppose i want to give 4 chances
#every time you fail i want to display no of chances left
#if all the chances you are used
#   try again after 24 hours
#if you are win
import random
for i in range(3):
    ra=random.randint(1,20)
    n=eval(input("enter a number : "))
    if ra==n:
        print("won")
        break
    else:
        print("lose")

In [5]:
import random
e,o=0,0
es,os=0,0
for i in range(5):
    n=random.randint(1,100)
    if n%2==0:
        e+=1
        es+=n
    else:
        o+=1
        os+=n
print("total even no's are : ",e)
print("total odd no's are : ",o)
print("even sum: ",es)
print("odd sum : ",os)

total even no's are :  3
total odd no's are :  2
even sum:  110
odd sum :  142

In [7]:
import random
def sum():
    e,o=0,0
    es,os=0,0
    for i in range(5):
        n=random.randint(1,100)
        if n%2==0:
            e+=1
            es+=n
        else:
            o+=1
            os+=n
    return e,o,es,os
a,b,c,d=sum()
print("the even no : ",a)
print("odd no : ",o)
print("even sum : ",c)
print("odd sum: ",d)

the even no :  2
odd no :  2
even sum :  74
odd sum:  135

**in operator**

In [9]:
s1='python'
for i in s1:
    print(i)

p
y
t
h
o
n

In [10]:
'p' in s1

True

In [11]:
'y' in s1

True

In [12]:
'a' in s1

False

### difference between in and range operator

- range belongs to math family,inside range we need to keep integers only
- whenever we need to iterate string we use in opertor

**ascii**

In [14]:
ord('A')

65

In [15]:
bin(65)

'0b1000001'

In [16]:
chr(65)

'A'

In [20]:
s=0
for i in s1:
    print(ord(i))
    s+=ord(i)
print(s)

112
121
116
104
111
110
674

In [22]:
for i in range(65,92,1):
    print(i,chr(i))

65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [

In [23]:
import string

In [24]:
dir('string')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [25]:
help('upper')

No Python documentation found for 'upper'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [31]:
help('upper')

No Python documentation found for 'upper'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [32]:
string.upper

AttributeError: module 'string' has no attribute 'upper'

In [33]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [35]:
let=string.ascii_uppercase
for i in let:
    print(i,ord(i))

A 65
B 66
C 67
D 68
E 69
F 70
G 71
H 72
I 73
J 74
K 75
L 76
M 77
N 78
O 79
P 80
Q 81
R 82
S 83
T 84
U 85
V 86
W 87
X 88
Y 89
Z 90

In [37]:
let1=string.ascii_lowercase
let2=string.punctuation
for i in let1:
    print(i,ord(i))
for i in let2:
    print(i,ord(i))

a 97
b 98
c 99
d 100
e 101
f 102
g 103
h 104
i 105
j 106
k 107
l 108
m 109
n 110
o 111
p 112
q 113
r 114
s 115
t 116
u 117
v 118
w 119
x 120
y 121
z 122
! 33
" 34
# 35
$ 36
% 37
& 38
' 39
( 40
) 41
* 42
+ 43
, 44
- 45
. 46
/ 47
: 58
; 59
< 60
= 61
> 62
? 63
@ 64
[ 91
\ 92
] 93
^ 94
_ 95
` 96
{ 123
| 124
} 125
~ 126

In [38]:
let3=string.ascii_letters
for i in let3:
    print(i,ord(i))

a 97
b 98
c 99
d 100
e 101
f 102
g 103
h 104
i 105
j 106
k 107
l 108
m 109
n 110
o 111
p 112
q 113
r 114
s 115
t 116
u 117
v 118
w 119
x 120
y 121
z 122
A 65
B 66
C 67
D 68
E 69
F 70
G 71
H 72
I 73
J 74
K 75
L 76
M 77
N 78
O 79
P 80
Q 81
R 82
S 83
T 84
U 85
V 86
W 87
X 88
Y 89
Z 90