**list comprehensions**

- we can store the output values by using append operations
- we are taking empty list
- we are iterating through elements from a given list
- the result we are appending in a new list

In [1]:
l=[]
for i in range(10):
    l.append(i*i)
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- there are almost three lines are in the process
- the three lines we can make into a single line
- this is called as list comprehension

### pattern 1
**only for loop**

In [4]:
#syntax
#[output for loop ]
#q1 what is the output i*i
#q2 what is the output list name #l
#q3 what is for loop for i in range(10)
l=[i*i for i in range(10)]
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
#q2 
l=['hyd','blr','chennai','pune']
l1=[i.upper() for i in l]
l1

['HYD', 'BLR', 'CHENNAI', 'PUNE']

In [8]:
l=['HYD', 'BLR', 'CHENNAI', 'PUNE']
l1=[i.lower() for i in l]
l1

['hyd', 'blr', 'chennai', 'pune']

In [19]:
#sum of the indexes of all elements
l2=['hyd','mumbai','chennai','blr']
l1=[l2.index(i) for i in l2]  #sum([l2.index{i) for i in l2])
l1,sum(l1)

([0, 1, 2, 3], 6)

- making empty list
- intializations will not works in list comprehensions
- assignment operations also not works

### pattern2 
**for loop and if condition**

In [20]:
#syntax
#[<output> <for loop> <if condition>]
l2=['hyd','mumbai','chennai','blr']
l1=[i for i in l2 if len(i)>4]
l1

['mumbai', 'chennai']

In [21]:
l1=['hyd','mum#bai','blr','chen#nai']
an=[i for i in l1 if '#' in i]
an

['mum#bai', 'chen#nai']

In [36]:
l1=['Hyd','mum#bai','Blr','chen#nai']
an=[i for i in l1 if i.istitle()]
an

['Hyd', 'Blr']

In [34]:
l1=['hyd','mum#bai','blr','chen#nai']
ans=[ i for i in l1 if '#' not in i]
ans1=[i for i in l1 if '#' in i]
ans1,ans

(['mum#bai', 'chen#nai'], ['hyd', 'blr'])

In [4]:
str1='virat.kohli@rcb.com,rohit.sharma@mi.com,kl.rahul@lucknow.com'
l1=str1.split(',')
fn=[i[0:i.index('.')] for i in l1]
sn=[i[i.index('.')+1:i.index('@')] for i in l1]
cn=[i[i.index('@')+1:i.index('.',i.index('@')+1)] for i in l1]
fn,sn,cn

(['virat', 'rohit', 'kl'],
 ['kohli', 'sharma', 'rahul'],
 ['rcb', 'mi', 'lucknow'])

### pattern3

In [2]:
#[<output> <if condition> else <elseoutput> <for loop>]

**even-odd**

In [5]:
op=[]
[op.append(f"even: {i}")  if i%2==0  else op.append(f'odd:{i}') for i in range(20)]
op

['even: 0',
 'odd:1',
 'even: 2',
 'odd:3',
 'even: 4',
 'odd:5',
 'even: 6',
 'odd:7',
 'even: 8',
 'odd:9',
 'even: 10',
 'odd:11',
 'even: 12',
 'odd:13',
 'even: 14',
 'odd:15',
 'even: 16',
 'odd:17',
 'even: 18',
 'odd:19']

In [8]:
op=[]
op=[f"even: {i}"  if i%2==0  else f'odd:{i}' for i in range(20)]
op

['even: 0',
 'odd:1',
 'even: 2',
 'odd:3',
 'even: 4',
 'odd:5',
 'even: 6',
 'odd:7',
 'even: 8',
 'odd:9',
 'even: 10',
 'odd:11',
 'even: 12',
 'odd:13',
 'even: 14',
 'odd:15',
 'even: 16',
 'odd:17',
 'even: 18',
 'odd:19']