# 19-06-2024

## variables
- variables are used to store the value and the values can be changed
- only underscore as variable name also works

In [2]:
num=100 # value 100 stored in a variable name called "num"
num

100

In [3]:
num=200 # value 200 updated in a variable name called "num"
num

200

**note**
- python is step step by process
- python will take last output as the latest value
- in above code we are using same variable:num
- but num value changed two times
- first time 100
- second time 200
- latest value 200

In [4]:
NUM=300
NUM

300

In [5]:
num,NUM

(200, 300)

In [7]:
NUm=400
NUm

400

In [12]:
num123=500
num123
num_1=455
num_1
_=234
_

234

# like this do not keep variable name
- 123num=600
- num%er=700
- number one=877
-

In [15]:
n1=100,200
n1

(100, 200)

In [16]:
n2,n3=200

TypeError: cannot unpack non-iterable int object

In [18]:
n4,n5=100,234
n4,n5

(100, 234)

In [19]:
num=100 #w
num=233 #w
num123=366 #w
num one=234#f
num_one=123#w
_=2344#f
n1=100,200#w
n2,n3=100#f
n1,n2=100,234#w

SyntaxError: invalid syntax (217241598.py, line 4)

- python variables are case sensitive
- variables can be declare as small letters and small letters
- variables can not start with numbers (prefix mundhalaaa)
- numbers can be suffix of the variables
- numbers can not have special characters expect **underscore _ **
- variables does not have space between them
- key words name should not take as variable name
- only underscore is possible in special characters
- two values can be assign to a single variable and one value cannot assign to two variables

In [ ]:
# keywords
if else
for 
while